@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #dfd3c3;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 1rem;
}

.App {
  text-align: center;
  width: 100%;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #8d493a;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.TodoForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
  align-items: center;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid #dfd3c3;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 300px;
  color: #fff;
  height: 40px;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

.todo-btn {
  background: #dfd3c3;
  color: #fff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  height: 40px;
  margin-top: -1rem;
  margin-left: 1rem;
  flex-shrink: 0;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #bb9ab1;
  color: #fff;
  padding: 0.75rem 1rem;
  border-radius: 5px;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: rgb(92, 244, 95);
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}

@media (max-width: 800px) {
  .TodoWrapper {
    max-width: 600px;
  }
}

@media (max-width: 375px) {

  .TodoWrapper {
    width: 300px;
  }
  .TodoForm {
    flex-direction: column;
    align-items: center;
  }

  .todo-input,
  .todo-btn {
    max-width: 100%;
    margin-left: 0;
    width: 100%;
  }

  .todo-btn {
    margin-top: 1rem;
  }

  .Todo {
    flex-direction: column;
    align-items: flex-start;
  }

  .todo-btn {
    padding: 0.5rem 1rem;
  }
}
